.maps-selector {
  max-width: 100%;
  border-radius: 10px;
  margin: 0;
  padding: 0;
  transition: transform 0.1s ease;
}

.maps-selector:hover {
  transform: scale(1.05);
}

.maps-selector-gray {
  filter: grayscale(100%);
  opacity: 0.9;
}
