.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
}

.card {
  width: 350px;
  display: grid;
  grid-template-columns: 40% 60%;
  background-color: #202020;
  border-radius: 6px;
  height: 160px;
  max-height: 160px;
  overflow: hidden;

  .label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 160px;
  }

  .image {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}
