.body {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 10fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.nav {
  grid-area: 1 / 1 / 2 / 2;
}

.content {
  padding: 1rem;
  grid-area: 2 / 1 / 3 / 2;
  height: 100%;
  overflow: hidden;
}
