.map-container {
    width: 100%;
    max-width: 1000px; /* ou qualquer limite que quiser */
    margin: 0 auto;
  }
  
  .map {
    position: relative;
    width: 100%;
  }
  
  .map img {
    width: 100%;
    display: block;
  }
  
  .icon {
    position: absolute;
    top: 17%;
    left: 22%;
    cursor: pointer;
  }
  