.container-image {
  width: 100%;
  height: 100%;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 30px;
  grid-row-gap: 0px;
}

.nade-image {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}

.left {
  border-radius: 3% 3% 0% 0%;
}

.right {
  border-radius: 0% 0% 3% 3%;
}

.spot-image {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
