.container-image {
  width: 100%;
  height: 100%;
  border-radius: 6px;
  overflow: hidden;

  header {
    width: 100%;
    background-color: #202020;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .image-grid {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
}

.spot-image {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.nade-image {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}

.left {
  border-right: 2px solid #202020;
}

.right {
  border-left: 2px solid #202020;
}
