.maps-selector {
    max-width: 100%;
    border-radius: 10px;
    margin: 0;
    padding: 0;
    transition: box-shadow 0.2s ease-in-out;
}

.maps-selector:hover {
    box-shadow: 0 0 5px 2px rgba(255, 255, 255, 0.7);
}