.nade-local {
  text-decoration: none;
  color: white;
  font-size: 1.4rem;
  width: 100%;
  display: flex;
  cursor: pointer;
  align-items: center;

  & p {
    margin: 0;
    padding: 0;
  }

  & span {
    font-size: 0.8rem;
    color: #7a7a7a;
    margin: 0 10px;
  }
}

.nade-local:hover {
  background-color: rgb(37, 37, 37);
  border-radius: 5px;
}

@media (max-width: 600px) {
  .selector-col {
    width: 100%;
  }

  .single-nade-image-container {
    width: 100% !important;
    height: 400px !important;
  }

  .nades-images-container {
    display: block !important;
    width: 100%;

    & .left {
      border-radius: 3% 3% 0% 0% !important;
    }

    & .right {
      border-radius: 0% 0% 3% 3% !important;
    }
  }

  .nade-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.single-nade-image-container {
  width: 50%;
  height: 596px;
  position: relative;
  display: flex; /* Garante que os filhos respeitem a altura */
  flex-direction: column; /* Organiza os elementos em coluna */
  overflow: hidden; /* Impede que as imagens ultrapassem os limites */
}

.overlay-text {
  position: absolute; /* Posiciona o elemento em relação ao contêiner */
  top: 10px;
  right: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
}

.nade-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.nades-images-container {
  display: flex;

  & .left {
    border-radius: 3% 0% 0% 3%;
  }

  & .right {
    border-radius: 0% 3% 3% 0%;
  }
}

.type-box {
  background-color: #242424;
  border-radius: 5px;
  display: block;
  align-items: center;
  text-align: center;
  user-select: none;
}

.type-box:hover {
  background-color: #474747 !important;
  border-color: #474747 !important;
  cursor: pointer;
}

.image-zoom {
  transform-origin: center;
  transition: transform 0.3s ease-in-out;
}

.image-zoom:hover {
  transform: scale(3);
}

.selected {
  background-color: #474747 !important;
  border-color: #474747 !important;
}
