.agents-image img {
    max-width: 250px;
    max-height: 500px;
    transition: transform 0.3s ease;
}

.agents-image img:hover {
    transform: scale(1.09);
}

.agents-image-gray {
    filter: grayscale(100%);
}