.ct {
  background-color: rgb(69, 125, 184);
  box-shadow: 3px 2px 2px rgba(5, 26, 49, 0.74);
}

.tr {
  background-color: rgb(216, 167, 111);
  box-shadow: 3px 2px 2px rgba(39, 23, 4, 0.644);
}

.ct,
.tr {
  position: absolute;
  opacity: 0.4;
  width: 28px;
  height: 28px;
  border-radius: 100%;
  transform: translateX(-50%);
  cursor: pointer;
}
